.profilePictureContainer {
  padding: 10px 0;
  display: flex;
  align-items: center;
  gap: 20px;
}

.profilePictureContainer img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: #ccc;
}

.fileInput {
  display: none;
}
