.nav {
  background-color: white;
  display: flex;
  align-items: center;
  padding: 0 20px;

  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.nav a {
  color: #222;
  text-decoration: none;
  padding: 25px 25px;
  border-bottom: solid 2px transparent;
}

.nav a:hover {
  border-bottom: solid 2px #222;
}
